 body {
      background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    }

    .valentine-section {
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 20px;
      padding: 30px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .img-container {
      position: relative;
      overflow: hidden;
      border-radius: 15px;
    }

    .valentine-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.4s ease;
    }

    /* Texto encima */
    .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      font-weight: bold;
      opacity: 0;
      transition: opacity 1s ease;
      text-align: center;
      z-index: 2;   
    }

    /* Fondo oscuro encima */
    .img-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(201, 24, 74, 0.5);
      opacity: 0;
      transition: opacity 0.6s ease;
      z-index: 1;  
    }

    /* EFECTO HOVER */
    .img-container:hover .valentine-img {
      filter: blur(4px);
      transform: scale(1.05);
    }

    .img-container:hover .overlay-text {
      opacity: 1;
    }

    .img-container:hover::after {
      opacity: 1;
    }

    h1 {
      color: #c9184a;
      font-weight: bold;
    }

    .text_debajo_h1 {
      color: #d6446d;
      font-weight: bold;
      opacity: .4;
    }
